@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 224, 224, 224;
  --background-rgb: 21, 26, 37;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
} 